header{
  font-size: 45px;
  font-weight: bold;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
}

.logo{
  vertical-align: middle;
}



main{
  height: 120vh;
  width: 100%;
  background-color: rgb(245, 245, 245);
}

.container{
  margin-left: auto;
  margin-right: auto;
  border: 80px solid rgb(245, 245, 245);
  border-radius: 95px;
  width: 100vh;
  height: 100vh;
  background-color: white;
}


.content{
  margin-left: 80px;
  margin-top: 20px;
}

.btn{

    border: 2px solid lightgrey;
    border-radius: 8px;
    padding: 0px;
    height: 35px;
    width: 90px;
    color: #3498db;
    font-weight: bold;
    display: inline-block;
}

.btn1{
  color: white;
  background-color: rgb(30,144,255);
}

.btn2{
  margin-left: 15px;
  background-color: transparent;
  color: lightgrey ;
}

.todolist{
  margin-left: 80px;
}

h2:before{
  content: '\25bc';
  margin-right: 5px;
  color: darkslategrey;
}

h2{
  color: darkslategrey;
  font-weight: bold;
}

ul{
  list-style: none;
  line-height: 50px;
  font-size: 20px;
  padding-inline-start: 0px;
}


.yes:before, .no:before{
  margin-right: 10px;
  border: 3px solid;
  border-radius: 75%;
  font-weight: bold;
}

.yes:before{
  content: '\2713';
  color: blue;
  border-color: skyblue;
  font-size: 12px;
  padding: 6px;

}

.no:before{
  content: '\2573';
  color: red;
  border-color: red;
  font-size: 10px;
  padding: 6px;
}

.forma{
  margin-left: 10px;
  border: 1px solid lightgrey;
  border-radius: 40px;
  padding: 0px;
  height: 35px;
  width: 90px;
  font-weight: bold;
  color: white;
  display: inline-block;
}

.colore{
  background-color:#3498db
}

#arancione{
  background-color: orangered;
}

#giallo{
  background-color: yellow;
}

#viola{
  background-color: violet;
}

#rosso{
  background-color: red;
}

#verde{
  background-color: green;
}

#blu{
  background-color: skyblue;
}
